
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row sw-navbar">

    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Swastika I/O">
      <img src="assets/img/swastika-io-logo.svg" alt="Kiwi standing on oval" width="35px">
    </a>

    <!-- for logo -->
  </header>

  <div class="container-fluid wrapper">
    <div class="row flex-xl-nowrap">
      <!-- Sidebar Holder -->

      <main class="col-12 col-md-9 col-xl-10 py-md-3 px-md-4 sw-content" role="main">

        <router-outlet></router-outlet>
      </main>
    </div>
  </div>




